@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div {

}

h1 {
    text-align: right;
    color: #E6815E;
    font-size: 42pt;
    font-family: Atkinson Hyperlegible;
    font-weight: 700;
    margin-top: 0px;
}

body {
    text-align: left;
    color: #E6815E;
    font-size: 16pt;
    font-family: Atkinson Hyperlegible;
    font-weight: 400;
    background-color: #1E0112;
}